In [0]:
import pandas as pd
from nltk import NaiveBayesClassifier
from sklearn.model_selection import train_test_split as tts
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report

In [0]:
df = pd.read_csv('/content/UCI_Credit_Card.csv')

In [0]:
df.head()

   ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default.payment.next.month
0   1    20000.0    2  ...       0.0       0.0                           1
1   2   120000.0    2  ...       0.0    2000.0                           1
2   3    90000.0    2  ...    1000.0    5000.0                           0
3   4    50000.0    2  ...    1069.0    1000.0                           0
4   5    50000.0    1  ...     689.0     679.0                           0

[5 rows x 25 columns]

In [0]:
df = df.drop(columns = ['ID'],axis = 1)
df.dropna(inplace = True)

In [0]:
df.isna().sum()/df.shape[0] * 100

LIMIT_BAL                     0.0
SEX                           0.0
EDUCATION                     0.0
MARRIAGE                      0.0
AGE                           0.0
PAY_0                         0.0
PAY_2                         0.0
PAY_3                         0.0
PAY_4                         0.0
PAY_5                         0.0
PAY_6                         0.0
BILL_AMT1                     0.0
BILL_AMT2                     0.0
BILL_AMT3                     0.0
BILL_AMT4                     0.0
BILL_AMT5                     0.0
BILL_AMT6                     0.0
PAY_AMT1                      0.0
PAY_AMT2                      0.0
PAY_AMT3                      0.0
PAY_AMT4                      0.0
PAY_AMT5                      0.0
PAY_AMT6                      0.0
default.payment.next.month    0.0
dtype: float64

In [0]:
x_train,x_test,y_train,y_test = tts(df.drop('default.payment.next.month',1) , df['default.payment.next.month'])

In [0]:
Model = GaussianNB()

In [0]:
Model.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [0]:
print(classification_report(y_test,Model.predict(x_test)))

              precision    recall  f1-score   support

           0       0.87      0.26      0.41      5876
           1       0.24      0.86      0.38      1624

    accuracy                           0.39      7500
   macro avg       0.56      0.56      0.39      7500
weighted avg       0.74      0.39      0.40      7500