In [0]:
import pandas as pd
import re
data = pd.read_json('http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz',lines=True)

In [0]:

dF = pd.DataFrame(data)

In [4]:
dF.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
def notbG(l):
    b = re.findall(r'\b(?!b|B)\b\S+', l)
    listToStr = ' '.join([str(elem) for elem in b])
    bG = re.findall(r'\b(\w*[^gG])\b[\W\s$]', listToStr)
    return bG

In [0]:

dF['reviewText_notbG'] = dF['reviewText'].apply(notbG)

In [9]:
dF.head()

       reviewerID  ...                                   reviewText_notbG
0  A32T2H8150OJLU  ...  [I, my, first, HP12C, in, about, 1984, or, so,...
1  A3MAFS04ZABRGO  ...  [WHY, THIS, REVIEW, I, feel, very, obliged, to...
2  A1F1A0QQP2XVH5  ...  [I, have, an, HP, 48GX, that, has, for, more, ...
3   A49R5DBXXQDE5  ...  [I, ve, started, more, finance, stuff, recentl...
4  A2XRMQA6PJ5ZJ8  ...  [For, simple, calculations, and, discounted, c...

[5 rows x 11 columns]