In [0]:
import pandas as pd

In [0]:
df = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines=True)

In [0]:

revlist=[]
for index, row in df.iterrows():
 review=row['reviewText']
 teststring=review
 a=[]
 a=teststring.split()
 wordfreq=[a.count(p) for p in a]
 revlist.append(dict(zip(a,wordfreq)))
df['wordcountreview']=revlist

In [0]:

sumlist=[]
for index, row in df.iterrows():
 summary=row['summary']
 stringsummary=summary
 b=[]
 b=stringsummary.split()
 wordfreq=[b.count(p) for p in b]
 sumlist.append(dict(zip(b,wordfreq)))
df['wordcountsummary']=sumlist

In [8]:
df.head()

       reviewerID  ...                                   wordcountsummary
0  A32T2H8150OJLU  ...  {'A': 1, 'solid': 1, 'performer,': 1, 'and': 1...
1  A3MAFS04ZABRGO  ...  {'Price': 1, 'of': 1, 'GOLD': 1, 'is': 1, 'up,...
2  A1F1A0QQP2XVH5  ...  {'Good': 1, 'functionality,': 1, 'but': 1, 'no...
3   A49R5DBXXQDE5  ...  {'One': 1, 'of': 2, 'the': 1, 'last': 1, 'an':...
4  A2XRMQA6PJ5ZJ8  ...                  {'Still': 1, 'the': 1, 'best': 1}

[5 rows x 11 columns]

In [0]:
vowel = ['a','e','i','o','u']

In [0]:
def splitr(m):
  return list(m)

In [0]:
def func(text):
  countr = {"vowel":0,"consonant":0,"total":0}
  for word in text:
    wordrs = splitr(word)
    for wordr in wordrs:
      if wordr in vowel:
        countr["vowel"]+=1
      else :
        countr["consonant"]+=1
      countr["total"]+=1
  return countr

In [0]:
df['vowelcounter']=df['reviewText'].apply(lambda x:func(x))

In [36]:
df['vowelcounter'][1]

{'consonant': 4037, 'total': 5355, 'vowel': 1318}

In [37]:
df

           reviewerID  ...                                       vowelcounter
0      A32T2H8150OJLU  ...     {'vowel': 267, 'consonant': 705, 'total': 972}
1      A3MAFS04ZABRGO  ...  {'vowel': 1318, 'consonant': 4037, 'total': 5355}
2      A1F1A0QQP2XVH5  ...     {'vowel': 132, 'consonant': 363, 'total': 495}
3       A49R5DBXXQDE5  ...  {'vowel': 1049, 'consonant': 2599, 'total': 3648}
4      A2XRMQA6PJ5ZJ8  ...     {'vowel': 200, 'consonant': 504, 'total': 704}
...               ...  ...                                                ...
53253  A1ODOGXEYECQQ8  ...     {'vowel': 225, 'consonant': 544, 'total': 769}
53254  A2XX2A4OJCDNLZ  ...   {'vowel': 815, 'consonant': 1911, 'total': 2726}
53255  A3LGT6UZL99IW1  ...   {'vowel': 411, 'consonant': 1096, 'total': 1507}
53256  A1XJOSJN6FHFO0  ...     {'vowel': 222, 'consonant': 509, 'total': 731}
53257   AAEVGE52KL0DJ  ...   {'vowel': 564, 'consonant': 1340, 'total': 1904}

[53258 rows x 12 columns]